html, body {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
}

.container {
  margin: 10vh;
  text-align: center;
  //display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  //display: inline-block;
}

.title {
  font-size: 96px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Monda', sans-serif;
}

.movie {
  padding: 1em;
  margin: 1em;
  border: thin solid black;
  height: 15em;
  background: #f2f2f2;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  opacity: 1;
  transition: all .2s ease;
}

#movies:hover .movie:not(:hover) {
  opacity: 0.4;
}

.sticky {
  margin-bottom: 2em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.actor, .synopsis{
  padding: 2em;
}

.quote {
  font-family: 'Shadows Into Light Two', cursive;
  border-left: solid 3px black;
}

$header-bg: linear-gradient(45deg, #07691c 0%,#098c3b 47%,#07691c 100%); //#00802b;
$header-sm: #e6e6e6;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 3rem;
$transition: all .35s ease-in-out;

.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
  margin-bottom: 2em;

  .headline {
    color: #ffe;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.5);

    small {
      color: $header-sm;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;

      &.is-active {
        background: rgba(250,250,250,$subnav-link-opacity);
      }

      &:hover {
        background: rgba(250,250,250,$subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}

.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  margin-top: 2em;
  background-color: #003311;
  padding: 2rem 3rem;
  text-align: center;
  color: $text-color;

  i {
    font-size: 3em;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
  .footer {
    .columns:nth-child(n+2) {
      border-left: 1px solid scale-color($text-color, $lightness: -30%);
      min-height: 280px;
    }
  }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}