@import "normalize";

@import "settings";

// Include all foundation
@import "foundation";

//include custom sass styles
@import "_custom.scss";

@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Monda:700);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);